@media screen and (max-width: 600px) {
    .header__wrapper { 
        flex-direction: column;
        align-items: baseline;
    }
    .header-btn {
        margin: 0 0 10px 0;
    }
    .input-search {
        width: 100%;
    }
    .header__nav {
        flex-direction: column-reverse;
        width: 100%;
    }
    .header {
        margin: 10px 0 0 0;
    }
    .section__clients-table {
        min-width: 925px;
    }
}

@media screen and (max-width: 550px) {
    .input-label {
        font-size: 12px;
    }
    .modal__client {
        width: 99%;
    }
}