@import url('header.css');
@import url('modal.css');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

*,*::after,*::before {
    box-sizing: inherit;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

tr, td, th {
    text-align: left;
}