@import url('https://css.gg/css');
@import url('svgIcons.css');
@import url('header.css');
@import url('modal.css');
@import url('addClient.css');
@import url('table.css');
@import url('form.css');
@import url('modalDelete.css');
@import url('media.css');

@font-face {
    font-family: "SourceSansRegular";
    src: url('../textFonts/SourceSansPro-Regular.ttf');
    font-weight: 100;
}

@font-face {
    font-family: "SourceSansBold";
    font-weight: 100;
    src: url('../textFonts/SourceSansPro-SemiBold.ttf');
}

@font-face {
    font-family: "SourceSansLight";
    font-weight: 100;
    src: url('../textFonts/SourceSansPro-Light.ttf');
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

*,*::after,*::before {
    box-sizing: inherit;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

tr, td, th {
    text-align: left;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}